@import '@fontsource/roboto/latin-300.css';
@import '@fontsource/roboto/latin-400.css';
@import '@fontsource/roboto/latin-500.css';
@import '@fontsource/roboto/latin-700.css';

body {
    margin: 0;
    background-color: #eee;
}